@model QuadTheoryTestProject.Models.ViewModel.StudentViewModel

@{
    ViewData["Title"] = "AddStudent";
}

<h1>Update Student</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller = "Student" asp-action="UpdateStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type = "hidden" asp-for = "Id" value = "@Model.Id"/>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label mb-2"></label>
                <input type = "text" asp-for="StudentName" class="form-control" value = "@Model.StudentName" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Gender" class="control-label"></label><br />
               <label>Male</label>
               <input asp-for="Gender" type = "radio" name = "Gender" value = "1" />
                <label>Female</label>
               <input asp-for="Gender" type = "radio" name = "Gender" value = "2" />
            </div>
            <div class="form-group mt-2">
                <label class = "form-label">Select Class</label>
                <select class = "form-select" asp-items = "@ViewBag.Classes" asp-for="ClassId"></select>
            </div>
            <div class="form-group">
                <label  asp-for="DOB" class="control-label mt-3"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class = "mt-2 btn btn-outline-warning">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
